In [1]:
# Import libraries
import numpy as np
import pandas as pd

# Extraction

In [2]:
# Import CSV file as a pandas dataframe
df = pd.read_csv('./data/topSubscribed.csv')

# Show dataframe head
df.head()

,Rank,Youtube Channel,Subscribers,Video Views,Video Count,Category,Started
0,1,T-Series,"234,000,000","212,900,271,553","18,515",Music,2006
1,2,YouTube Movies,"161,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"152,000,000","149,084,178,448",846,Education,2006
3,4,SET India,"150,000,000","137,828,094,104","103,200",Shows,2006
4,5,MrBeast,"128,000,000","21,549,128,785",733,Entertainment,2012

# Transformation

In [3]:
# Clean column names (strip whitespace + lowercase + space removal)
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [4]:
# Clean 'rank' column (cast values to int)
for value in df['rank']:
    value = int(value)

In [5]:
# Clean 'youtube_channel' column (strip whitespace)
df['youtube_channel']=df['youtube_channel'].str.strip()

In [6]:
# Clean 'subscribers' column

# Remove commas
df['subscribers']=df['subscribers'].str.replace(',', '')

# Cast values to int
for value in df['subscribers']:
    value = int(value)

In [7]:
# Clean 'video_views' column

# Remove commas
df['video_views']=df['video_views'].str.replace(',', '')

# Cast values to int
for value in df['video_views']:
    value = int(value)

In [8]:
# Clean 'video_count' column

# Remove commas
df['video_count']=df['video_count'].str.replace(',', '')

# Cast values to int
for value in df['video_count']:
    value = int(value)

In [9]:
# Clean 'category' column (strip whitespace + lowercase)
df['category']=df['category'].str.strip().str.lower()

In [10]:
# Clean 'started' column (cast values to int)
for value in df['started']:
    value = int(value)

In [11]:
# Show clean dataframe head
df.head()

,rank,youtube_channel,subscribers,video_views,video_count,category,started
0,1,T-Series,234000000,212900271553,18515,music,2006
1,2,YouTube Movies,161000000,0,0,film & animation,2015
2,3,Cocomelon - Nursery Rhymes,152000000,149084178448,846,education,2006
3,4,SET India,150000000,137828094104,103200,shows,2006
4,5,MrBeast,128000000,21549128785,733,entertainment,2012

# Load